*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: 0;  
  user-select: none;
  font-family: 'Permanent Marker', cursive;  
}

.main {
  text-align: center;
  background-color: #282c34;
  /* background-image: linear-gradient(to right top, #9b00ff, #ae00ff, #bf00ff, #d000ff, #df00ff, #f200e0, #fc00c4, #ff00ab, #ff277a, #ff5c4d, #ff8924, #ecae00); */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  position: relative;
}

.players{
  width: 100%;
  display: flex;
  position: absolute;  
  top: 95px;
  left: 0;
  justify-content: space-around;
  align-items: center;
}

.player{
  width: 150px;
  height: 80px;
  background-color: #1f2329;
  color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;  
}

.player.active{  
  background-color: rgb(0, 112, 211);
  transition: 2s;
}

.frame{
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.popUp{
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;  
  align-items: center;
  justify-content: center;  
  width: 20rem;
  height: 12rem;  
  border-radius: 6px;
  background-color: #282c34;
  border: 2px solid rgb(102, 102, 102);
  color: rgb(255, 255, 255);  
}

.table{         
  display: grid;
  padding: 0px 2px;
  justify-content: space-between;
  align-items: center; 
  grid-template-columns: auto auto auto;
  height: 400px;  
  width:  400px;  
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid rgb(102, 102, 102); 
  background-color: rgb(102, 102, 102); 
  box-shadow: 8px 8px 8px 2px rgba(0, 0, 0, 0.1);
}

.cell{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  /* color:#0ea300; */
  color:rgb(102, 102, 102); 
  width: 130px;
  height: 130px;
  background-color: #282c34;
  border-radius: 8px;
  cursor: url('./assets/pen128.cur') 0 200, auto;
  font-family: 'Permanent Marker', cursive;  
}

.reset{
  top: 75%;
  color: white;
  width: 200px;
  height: 40px;
  /* border: 1px solid #0ea300; */
  border: 1px solid rgb(158, 157, 157); 
  cursor: pointer;  
  position: absolute;
  margin-top: 20px;
  border-radius: 4px;
  background-color: transparent;
  transition: 0.4s;
  font-size: 102%;
  /* padding-top: 40px; */
}

.reset::before{  
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: 0;
  left: 50%;  
  transform: translateX(-50%) translateY(6px) rotate(45deg);
  /* border-bottom: 1px solid #0ea300;
  border-right: 1px solid #0ea300; */
  border-bottom: 1px solid rgb(158, 157, 157); 
  border-right: 1px solid rgb(158, 157, 157); 
  background: #282c34;
}

.reset:hover{
  top: 74%;
  width: 210px;
  height: 45px;
  transition: 0.4s;  
  font-size: 106%;
  font-weight: 400;
}